    <footer>
      <div class="container-lg p-responsive py-4 ">
        <div class="d-flex flex-justify-between">
          <ul class="list-style-none float-right text-small">
            <li class="d-inline-block ml-lg-2">&copy; 2017 - {{ site.time | date: '%Y' }} Heidi M Hurst</li>
          </ul>

          <ul class="list-style-none float-left text-small">
            <li class="d-inline-block mr-lg-2"> Adapted from <a href="https://government.github.com" target="_blank">https://government.github.com</a> under <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0-1.0</a></li>
          </ul>
        </div>

      </div>

    </footer>

  </body>
</html>
